<section class="author">
        <h4><a href="https://github.com/ztelur"><%= config.author %></a></h4>
        <% if (theme.bio) {%>
        <p> <%= theme.bio %></p>
         <% } %>
        <div class="author-meta">
          <% if (theme.location) { %><span class="author-location icon-location"> <%= theme.location %></span> <%}%>
          <% if (config.url) { %><span class="author-link icon-link"><a href="<%= config.url %>"> <%= config.title %></a></span> <%}%>
        </div>
</section>