<section class="post-meta">
    <% if (post.author || config.author ) {%>
      <img class="author-thumb" src="<%= theme.image_url %>" alt="Author image" nopin="nopin" />
    <% } %>
    <% if (post.tags && post.tags.length){ %>
    <% count = post.tags.length %>
    <% post.tags.forEach(function(tag, index) { %>
    <a href='<%= url_for(tag.path) %>'><%= tag.name %></a><% if (count !== index+1) { %> <% } %>
    <% }); %>
    <% } %>
      <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished" class="post-date">
          <%= date(post.date, null) %>
      </time>
</section>
