<aside class="read-next">
 <% if (page.next) { %>
    <% if (page.next.cover) { %>
      <a class="read-next-story" style="background-image: url(<%- page.next.cover%>)" href="<%= url_for(page.next.path) %>">
        <section class="post">
          <h2><%= page.next.title %></h2>
          <p>
            <% if (page.next.excerpt){ %>
              <%- page.next.excerpt %>
            <% } else { %>
              <%- page.next.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %> ......
            <% } %>
          </p>
        </section>
      </a>

    <% } else { %>
    <a class="read-next-story no-cover" href="<%= url_for(page.next.permalink) %>">
      <section class="post">
        <h2><%= page.next.title %></h2>
        <p>
            <% if (page.next.excerpt){ %>
              <%- page.next.excerpt %>
            <% } else { %>
              <%- page.next.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %> ......
            <% } %>
          </p>
      </section>
    </a>
    <% } %>
  <% } %>


  <% if (page.prev) { %>
    <% if (page.prev.cover) { %>
      <a class="read-next-story" style="background-image: url(<%- page.prev.cover%>)" href="<%= url_for(page.prev.path) %>">
        <section class="post">
          <h2><%= page.prev.title %></h2>
          <p>
            <% if (page.prev.excerpt){ %>
              <%- page.prev.excerpt %>
            <% } else { %>
              <%- page.prev.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %> ......
            <% } %>
          </p>
        </section>
      </a>

    <% } else { %>
    <a class="read-next-story no-cover" href="<%= url_for(page.prev.permalink) %>">
      <section class="post">
        <h2><%= page.prev.title %></h2>
        <p>
            <% if (page.prev.excerpt){ %>
              <%- page.prev.excerpt %>
            <% } else { %>
              <%- page.prev.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %> ......
            <% } %>
          </p>
      </section>
    </a>
    <% } %>
  <% } %>
</aside>
