<aside class="read-next">
  <% if (page.next) { %>
    <% if (oage.next.cover) { %>
      <a class="read-next-story" style="background-image:<%= url_for(page.next.cover)" href="<%= url_for(page.next.path) %>">
        <section class="post">
          <h2><%= page.next.title %></h2>
          <p>
            <% if (page.next.excerpt){ %>
              <%- page.next.excerpt %>
            <% } else { %>
              <%- page.next.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %> ......
            <% } %>
          </p>
        </section>
      </a>

    <% } else { %>
    <a class="read-next-story no-cover" href="<%= url_for(page.next.path) %>">
      <section class="post">
        <h2><%= page.next.title %></h2>
        <p>
            <% if (page.next.excerpt){ %>
              <%- page.next.excerpt %>
            <% } else { %>
              <%- page.next.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %> ......
            <% } %>
          </p>
      </section>
    </a>
    <% } %>
  <% } %>
  
  <!-- [[! /next_post ]] -->
  <!-- [[! prev_post ]] -->

  <% if (page.prev) { %>
    <% if (oage.prev.cover) { %>
      <a class="read-next-story" style="background-image:<%= url_for(page.prev.cover)" href="<%= url_for(page.prev.path) %>">
        <section class="post">
          <h2><%= page.prev.title %></h2>
          <p>
            <% if (page.prev.excerpt){ %>
              <%- page.prev.excerpt %>
            <% } else { %>
              <%- page.prev.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %> ......
            <% } %>
          </p>
        </section>
      </a>

    <% } else { %>
    <a class="read-next-story no-cover" href="<%= url_for(page.prev.path) %>">
      <section class="post">
        <h2><%= page.prev.title %></h2>
        <p>
            <% if (page.prev.excerpt){ %>
              <%- page.prev.excerpt %>
            <% } else { %>
              <%- page.prev.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %> ......
            <% } %>
          </p>
      </section>
    </a>
    <% } %>
  <% } %>
  <!-- [[! /prev_post ]] -->
</aside>
