
<% permalink = config.url + config.root + post.path %>
<main id="content" class="content" role="main">
  <article class="post" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name"><%- post.title %></h1>
      <%- partial('post/meta') %>
    </header>
    <section class="post-content" itemprop="description articleBody">
      <%- partial('post/gallery', {post: post}) %>
      <!-- <% if (date(post.date, null) !== date(post.updated, null)) {%>
      <%- partial('post/update', {post:post}) %>
      <% } %> -->
      <%- post.content %>
      <h3>关于图片和转载</h3>

      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>进行许可。

      转载时请注明原文链接，图片在使用时请保留图片中的全部内容，可适当缩放并在引用处附上图片所在的文章链接。

      <h3>关于评论和留言</h3>

      如果对本文 <a href="<%= page.permalink %>"><%= page.title %></a> 的内容有疑问，请在下面的评论系统中留言，谢谢。

      <blockquote>
        <p>原文链接：<a href="<%= page.permalink %>"><%= page.title %></a></p>

        <p>Follow: <a href="https://github.com/ztelur">Ztelur · GitHub</a></p>
      </blockquote>

    </section>
    <footer class="post-footer">
     <% if (post.author || config.author ) { %>
        <figure class="author-image">
          <a class="img" href="https://github.com/ztelur" style="background-image: url(<%- theme.image_url%>)"><span class="hidden"><%= post.author || config.author %>'s Picture</span></a>
        </figure>
     <% } %>
      <%- partial('post/author', {post: post}) %>
      <!--<%- partial('post/share') %>-->
      <%- partial('post/comments') %>
    </footer>
  </article>
</main>
<%- partial('post/navigation') %>