<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<%- partial('casper/head') %>
<% if (typeof page.title == 'undefined') { %>
<body class="home-template">
<% } else { %>
<body class="post-template">
<% } %>
  <%- partial('nav') %>
  <div class="site-wrapper">
  <%- partial('casper/header') %>
  <%- body %>
  <%- partial('casper/footer') %>
  </div>
  <%- partial('casper/after_all') %>
</body>
</html>
